@use "~/node_modules/sass-rem/" as to;
@import "../../../../styles/variables.module";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: to.rem(20px);
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(#{--card-background-default});
  border-radius: to.rem(10px);
  padding: to.rem(10px);
  width: to.rem(149px);
  transition: 0.3s;
  cursor: pointer;
}

.day {
  margin-bottom: to.rem(7px);
  font-size: to.rem(18px);
  color: var(#{--text-color-default});

  &__date {
    margin-bottom: to.rem(12px);
    font-size: to.rem(14px);
    color: $base-color;
  }

  &__img {
    margin-bottom: to.rem(12px);
  }

  &__temp_day {
    font-size: to.rem(18px);
    color: var(#{--text-color-default});
  }

  &__temp_night {
    font-size: 13px;
    color: $base-color;
    margin-bottom: to.rem(6px);
  }

  &__info {
    font-size: to.rem(18px);
    color: $base-color;
    text-align: center;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: to.rem(7px);

  &__wrapper {
    display: flex;
  }

  &__tab,
  &__cancel {
    box-shadow: to.rem(2px 5px 25px -3px rgba(180, 180, 180, 0.25));
    border-radius: to.rem(5px);
    padding: to.rem(9px 20px);
    background-color: var(#{--components-background-default});
    margin-right: to.rem(15px);
    color: var(#{--text-color-default});
    font-style: to.rem(18px);
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
  }

  &__tab {
    &:active {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &__cancel {
    margin-right: 0;
    align-self: center;
  }
}

/*! ============ 1250 ============= */

@media (max-width: 1250px) {
  .container {
    margin: to.rem(0 20px);
  }
}

/*! ============ 1000 ============= */

@media (max-width: 1000px) {
  .days {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    justify-items: center;
    gap: to.rem(20px);
  }
  .card {
    width: 100%;
  }
}

/*! ============ 600 ============= */

@media (max-width: 600px) {
  .days {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
    gap: to.rem(20px);
  }

  .tabs {
    &__wrapper {
      flex-direction: column;
    }

    &__tab {
      margin-bottom: to.rem(5px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*! ============ 400 ============= */

@media (max-width: 400px) {
  .days {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    gap: to.rem(20px);
  }

  .tabs {
    &__tab,
    &__cancel {
      padding: to.rem(7px 10px);
      font-size: to.rem(calc(18px * 0.6));
    }
  }
}
