@use "~/node_modules/sass-rem/" as to;
@import "../../../../styles/variables";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: $light-background;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;
}

.day {
  margin-bottom: 7px;
  font-size: 18px;

  &__date {
    margin-bottom: 12px;
    font-size: 14px;
    color: $base-color;
  }

  &__img {
    margin-bottom: 12px;
  }

  &__temp_day {
    font-size: 18px;
  }

  &__temp_night {
    font-size: 13px;
    color: $base-color;
    margin-bottom: 6px;
  }

  &__info {
    font-size: 18px;
    color: $base-color;
    text-align: center;
  }

  &:hover {
    box-shadow: rgba(147, 144, 144, 0.28);
  }
}
