@use "~/node_modules/sass-rem/" as to;
@import "../../../../styles/variables";

.this_day {
  padding: to.rem(20px);
  max-width: to.rem(400px);
  width: 100%;
  background-color: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &__top_block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: to.rem(30px);

    svg {
      width: to.rem(119px);
      height: to.rem(119px);
    }
  }

  &__this_temp {
    font-size: to.rem(96px);
    font-weight: bold;
    color: $primary-color;
  }

  &__this_today {
    font-size: to.rem(40px);
    color: $light-color;
  }

  &__bottom_block {
    padding-top: to.rem(25px);
  }

  &__bottom_time,
  &__bottom_city {
    color: $base-color;
    font-size: to.rem(25px);
  }
}
