@use "~/node_modules/sass-rem/" as to;
@import "../../../../styles/variables.module";

.this_day {
  padding: to.rem(20px);
  max-width: to.rem(400px);
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &__top_block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: to.rem(30px);

    svg {
      width: to.rem(119px);
      height: to.rem(119px);
    }
  }

  &__this_temp {
    font-size: to.rem(96px);
    font-weight: bold;
    color: $primary-color;
  }

  &__this_today {
    font-size: to.rem(40px);
    color: var(#{--text-color-default});
  }

  &__bottom_block {
    padding-top: to.rem(25px);
  }

  &__bottom_time,
  &__bottom_city {
    color: $base-color;
    font-size: to.rem(25px);
  }
}

/*! ============ 1250 ============= */

@media (max-width: 1250px) {
  .this_day {
    margin: 0 20px;
    flex-shrink: 1.2;
  }
}

/*! ============ 900 ============= */

@media (max-width: 900px) {
  .this_day {
    &__top_block {
      svg {
        width: to.rem(calc(119px * 0.8));
        height: to.rem(calc(119px * 0.8));
      }
    }

    &__this_temp {
      font-size: to.rem(calc(96px * 0.8));
    }

    &__this_today {
      font-size: to.rem(calc(40px * 0.8));
    }

    &__bottom_time,
    &__bottom_city {
      font-size: to.rem(calc(25px * 0.8));
    }
  }
}

/*! ============ 700 ============= */

@media (max-width: 700px) {
  .this_day {
    width: 90%;
    margin: to.rem(0 20px);
  }
}

/*! ============ 400 ============= */

@media (max-width: 400px) {
  .this_day {
    &__top_block {
      svg {
        width: to.rem(calc(119px * 0.7));
        height: to.rem(calc(119px * 0.7));
      }
    }

    &__this_temp {
      font-size: to.rem(calc(96px * 0.5));
    }

    &__this_today {
      font-size: to.rem(calc(40px * 0.5));
    }

    &__bottom_time,
    &__bottom_city {
      font-size: to.rem(calc(25px * 0.5));
    }
  }
}

/*! ============ 300 ============= */

@media (max-width: 300px) {
  .this_day {
    &__top_block {
      svg {
        width: to.rem(calc(119px * 0.5));
        height: to.rem(calc(119px * 0.5));
      }
    }
  }
}
