.component {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(43, 53, 239);
  margin-top: 1rem;
  border: 2px solid #ba9090;

  h2 {
    text-align: center;
    color: rgb(93, 243, 0);
  }
}
