@use "~/node_modules/sass-rem/" as to;

@use "./reset";
@use "./variables";
@use "./mixins";
@use "./fonts";

$border: to.rem(1px solid #ccc);

body {
  // font-family: sans-serif;
  font-family: "Amatic SC", cursive;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

#app {
  // background-color: #cbeaa8;
}
