@use "~/node_modules/sass-rem/" as to;
@import "../../../../styles/variables.module";

.this_day_info {
  position: relative;
  padding: to.rem(40px);
  max-width: to.rem(750px);
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  align-items: center;

  &__left {
    z-index: 10;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: to.rem(20px);
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__indicator {
    margin-right: to.rem(20px);
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: to.rem(1px 4px 10px -1px rgba(71, 147, 255, 0.2));

    &_name,
    &_value {
      font-size: to.rem(14px);
      line-height: 1.22;
    }

    &_name {
      color: rgba(147, 156, 176, 1);
    }

    &_value {
      color: var(#{--text-color-default});
      z-index: 10;
    }
  }

  &__empty {
    width: to.rem(20px);
    height: to.rem(38px);
  }

  &__cloud_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
}

/*! ============ 1250 ============= */

@media (max-width: 1250px) {
  .this_day_info {
    margin-right: to.rem(20px);
  }
}

/*! ============ 700 ============= */

@media (max-width: 700px) {
  .this_day_info {
    padding: to.rem(20px);
    width: 90%;
    margin: to.rem(0 20px);
  }
}

/*! ============ 400 ============= */

@media (max-width: 400px) {
  .this_day_info {
    padding: to.rem(10px);
    width: 90%;
    margin: to.rem(0 10px);
    &__indicator {
      margin-right: to.rem(10px);
      width: 25px;
      height: 25px;
      &_name,
      &_value {
        font-size: to.rem(calc(14px * 0.8));
        line-height: calc(1.22 * 0.8);
      }
    }
    &__empty {
      width: to.rem(10px);
      height: to.rem(25px);
    }
  }
}
