@use "~/node_modules/sass-rem/" as to;
@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: to.rem(30px);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: to.rem(20px);

    svg {
      width: to.rem(65px);
      height: to.rem(65px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: to.rem(25px);
    color: $primary-color;
  }

  &__change_theme,
  &__logo {
    margin-right: to.rem(20px);
    cursor: pointer;
  }
}
