@use "~/node_modules/sass-rem/" as to;
@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: to.rem(30px);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: to.rem(20px);

    svg {
      width: to.rem(65px);
      height: to.rem(65px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: to.rem(25px);
    color: $primary-color;
  }

  &__change_theme,
  &__logo {
    margin-right: to.rem(20px);
    cursor: pointer;
  }
}

/*! ============ 600 ============= */

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;

    &__wrapper {
      margin-bottom: to.rem(20px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*! ============ 400 ============= */

@media (max-width: 400px) {
  .header {
    &__title {
      font-size: to.rem(15px);
    }

    &__logo {
      margin-right: to.rem(20px);

      svg {
        width: to.rem(45px);
        height: to.rem(45px);
      }
    }
    &__change_theme {
      margin-right: 0;
      svg {
        width: 70%;
      }
    }
  }
}
